.container {
  display: flex;
  justify-content: center;
  margin-top: 4.375rem;
  text-align: center;
}

.form {
  width: 21.875rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .form {
    background-color: #424242;
  }
}
